{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- About Section -->
<section class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'media/about_page_background.jpg' %}" alt="About Image" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2>About Campus Connect</h2>
      <p style="text-align: justify;">Campus Connect is a comprehensive platform designed to empower educational institutions to create events, communities, and spaces tailored to their unique goals and needs. With Campus Connect, institutions can make students feel at home by providing them with a branded app that reflects the spirit and identity of the university.</p>
      <p style="text-align: justify;">The platform offers total control to administrators, allowing them to moderate chat groups, host events, and manage communities seamlessly. Campus Connect is invaluable as a space to create a vibrant community and address concerns, especially during challenging times.</p>
      <p style="text-align: justify;">One of the key indicators of Campus Connect's success is the increasing number of offer-holders who are signing up for the app, demonstrating its effectiveness in engaging and connecting students. By leveraging Campus Connect, institutions can foster a sense of belonging and collaboration among their student body.</p>
    </div>
  </div>
</section>

<!-- Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

{% endblock %}