{% extends "base.html" %}
{% load static %}
{% load bleach_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        {% for event in event_list %}

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <p class="author">Organizer: {{ event.organizer }}</p>
                    </div>
                    <a href="{% url 'event_detail' event.slug %}">
                        <h2>{{ event.title }}</h2>
                    </a>
                    <hr>
                    <p>Date of Event: {{ event.event_host_date }}</p>
                    <p>Time of Event: {{ event.event_host_time }}</p>
                    <hr>
                </div>
            </div>
        </div>

        <!-- This sets a new row if content count can be divided by 3 -->
        {% if forloop.counter|divisibleby:3 %}
    </div> <!-- If divisible, this end div tag breaks off the row early and sets a new row -->
    <div class="row">
        {% endif %}

        {% endfor %}

    </div> <!-- end of row div -->

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">>&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div> <!-- end of container div -->

{% endblock content %}